@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #58cc02; /* Duolingo Green */
  --primary-dark: #46a302;
  --secondary: #ce82ff; /* Fun Purple */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 450px; /* Mobile width constraint for desktop view */
  margin: 0 auto;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  min-height: 100vh;
}